# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

In [ ]:
print ('Hello World')

### Int & Float Assignments

##### Assigning int

In [4]:
# variable_name = value

my_number = 5

print(my_number)
print(type(my_number))

5
<class 'int'>

##### Assinging float

In [6]:
my_float_number = 5.67

print(my_float_number)
print(type(my_float_number))

5.67
<class 'float'>

In [9]:
# The decimal (.) is what tells Python to make the variable a float

another_number = 6.

print(another_number)
print(type(another_number))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [18]:
# Use the plus operator (+)
num1 = 13
num2 = 4

# int + int => int
# float + float => float
# float + int => float

result = num1 + num2

print(result)
print(type(result))

17
<class 'int'>

In [19]:
result += 10 # result = result + 10

print (result)
print(type(result))

27
<class 'int'>

##### Subtraction

In [20]:
# Use the minus operator (-)

result_diff = num1 - num2

print(result_diff)

9

In [21]:
# -= assignment operator

result_diff -= 5 # result_diff = result_diff - 5

print(result_diff)

4

##### Multiplication

In [22]:
# Use the star or asterisk *

result_prod = num1 * num2
print(result_prod)
print(type(result_prod))

52
<class 'int'>

In [23]:
# *= assignment operator

result_prod *= 2 #result_prod = result_prod * 2

print(result_prod)

104

##### Division

In [24]:
# Use the forward slash (/)

# Always results in a float!

num3 = 50
num4 = 5

result_div = num3 / num4

print(result_div)
print(type(result_div))

10.0
<class 'float'>

In [25]:
# /= assignment operator

result_div /= 2 # result_div / 2

print(result_div)

5.0

##### Floor Division

In [31]:
# Sometimes also referred to as Integer Division

# Floor is defined as the highest integer that is less than or equal to the value

result_normal = 15 / 4
print(result_normal)

# Use the double slash (//)
result_floor = 15 // 4
print(result_floor)

3.75
3

In [32]:
# //= assignment operator
result_floor //= 2 # result_floor = result_floor // 2

print(result_floor)

1

##### Modulo

In [33]:
# Uses the percent operator (%)
# will return the REMAINDER of a division problem

num5 = 48
num6 = 5

result_mod = num5 % num6
print(result_mod)

3

In [34]:
# %= assignment operator
result_mod %= 2 # result_mod = result_mod % 2

print(result_mod)

1

##### Exponential

In [35]:
# Use the double-asterisk (**)

num7 = 5
num8 = 3

cubed = num7 ** num8
print(cubed)

125

In [36]:
# **= assignment operator

cubed **= 2 # cubed = cubed ** 2

print(cubed)

15625

### String Input-Output

##### String Assignment

In [37]:
# variable_name = 'string' - quotation marks ('' or "") tell Python that this is a string
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [38]:
name2 = 'Stanton'
print(name2)
print(type(name2))

Stanton
<class 'str'>

In [40]:
# Quotation Marks are Necessary!
wrong = astring 
# this thinks that we are setting a variable 'wrong' equal to whatever the value
# is for the variable 'astring', which does not exist

NameError: name 'astring' is not defined

In [41]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [42]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (1937463103.py, line 1)

##### Escape Characters

In [43]:
# backslash - read the next character literally
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [45]:
quote1 = 'He said, "Hello, how are you?"'
print(quote1)

He said, "Hello, how are you?"

In [46]:
quote2 = "He said, \"Hello, how are you?\""
print(quote2)

He said, "Hello, how are you?"

In [47]:
# Backslash allows us to write a string on multiple lines but still be read as one line by Python
print('Hello
     how are you')

SyntaxError: unterminated string literal (detected at line 2) (370402326.py, line 2)

In [49]:
print('Hello \
how are you')

Hello how are you

In [50]:
# \n - new line characters
new_string = "Hello\nMy name is Brian"
print(new_string)

Hello
My name is Brian

In [54]:
# \t
tabbed = 'Hello\tWorld'
print(tabbed)

Hello	World

In [56]:
letter = 'Dear Friend,\n\tI hope you are doing well.'
print(letter)

Dear Friend,
	I hope you are doing well.

#### Triple Quoted String

In [59]:
# strings that start and end with 3 quotation marks (single or double)
# Reads line spacing literally

multiline = '''This is the first line
This is the second line
and this is the final line'''

print(multiline)

This is the first line
This is the second line
and this is the final line

In [61]:
multi_again = """This is another example
of multiline triple 
quoted string"""

print(multi_again)

This is another example
of multiline triple
quoted string

In [62]:
# Raw String - starts with r before quotation marks (r'') or (r"")
# Reads string literally - no special characters

raw_letter = r'Dear Friend,\n\tI hope you are doing well.'
print(raw_letter)

Dear Friend,\n\tI hope you are doing well.

In [63]:
my_example_text = r'cat\b'
print(my_example_text)

cat\b

In [64]:
string_number = '123'
print(string_number)
print(type(string_number))

123
<class 'str'>

##### String Concatenation

In [66]:
num_a = '10'
num_b = 10
num_c = num_a + num_b

TypeError: can only concatenate str (not "int") to str

##### Type Conversion

In [67]:
print(num_a, type(num_a))
print(num_b, type(num_b))

10 <class 'str'>
10 <class 'int'>

In [69]:
# To convert, pass the value into the built-in type function (usually the name of the class) -> will return a new object 
# str for Strings, int for Integers, float for Floats, etc.

num_a_as_int = int(num_a)
print(num_a_as_int)
print(type(num_a_as_int))

# Creates new variable and object -> original value does not change
print(num_a, type(num_a))

10
<class 'int'>
10 <class 'str'>

In [73]:
num_c = int(num_a) + num_b
print(num_c, type(num_c))

num_c = num_a_as_int + num_b
print(num_c, type(num_c))

20 <class 'int'>
20 <class 'int'>

In [70]:
city = 'Chicago'
int(city)

ValueError: invalid literal for int() with base 10: 'Chicago'

In [74]:
some_val = '123.45'
int(some_val)

ValueError: invalid literal for int() with base 10: '123.45'

In [80]:
float(some_val)

123.45

In [81]:
num_d = num_a + str(num_b) # num_a = '10', str(num_b) = '10'
print(num_d)

1010

##### .format() and f-strings

In [82]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [87]:
first = 'Andy'
last = 'Capaldo'
city = 'Denver'
age = 27

my_info = "Hello, my name is {} {} and I am {} years old and I am from {}".format(first, last, age, city)
print(my_info)

Hello, my name is Andy Capaldo and I am 27 years old and I am from Denver

In [89]:
# f-string - another way of formatting a string -> uses curly braces {} with a variable name in them
# and a lower-case f before the string (f'') or (f"")

my_info2 = f"Hello, my name is {first} {last} and I am {age} years old and I am from {city}"
print(my_info2)

Hello, my name is Andy Capaldo and I am 27 years old and I am from Denver

In [93]:
# .format and f-string allow us to run expressions to format our string

my_info3 = f"Hello I am {first.upper()} and in 4 years I will be {age + 4} years old"
print(my_info3)

my_info4 = "Hello I am {} and in 4 years I will be {} years old".format(first.upper(), age + 4)
print(my_info4)

Hello I am ANDY and in 4 years I will be 31 years old
Hello I am ANDY and in 4 years I will be 31 years old

##### Old Way (python 2)

In [97]:
print("Hello my name is %s and I am from %s"% (first, city))

Hello my name is Andy and I am from Denver

In [99]:
result = 10 + 5
print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [111]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

my_car = f"I drive a {color} {int(year) + 1} {make} {model}."
print(my_car)

I drive a blue 2023 Ford Focus.

In [113]:
my_car2 = "I drive a {} {} {} {}.".format(color, int(year) + 1, make, model)
print(my_car2)

I drive a blue 2023 Ford Focus.

### Booleans

In [114]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [115]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [116]:
# if <expression>:        <expression> must result in a boolean (True or False) or object with (Truthy/Falsy)
#     <statement>

# INDENTATION MATTERS!!!!! ALL lines that are indented under the if statement will only run if the expression is True
if True:
    print("Hello this is a statement that is being run because the If evaluated to True")

Hello this is a statement that is being run because the If evaluated to True

In [121]:
if False:
    print("Hello how are you?")

In [120]:
print('Start code...')

if False:
    print("Hello")
    print("How are you?")
    
print('End code...')

Start code...
How are you?
End code...

In [128]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2


print(num1 > num2)
print(num2 < num3)
print(num1 == num2 * num3)
print(num1 >= num2 * num3)
print(num1 != num2)

True
False
True
True
True

In [132]:
if num1 > num2:
    print(f'{num1} is greater than {num2}')
    
if num2 < num3:
    print(f"{num2} is less than {num3}")
    
if num1 >= num2 * num3:
    print(f"{num1} is greater than or equal to {num2} times {num3}")

10 is greater than 5
10 is greater than or equal to 5 times 2

## Using 'and'/'or' with If Statements

In [142]:
# Truth Tree for OR:
# T or T = T
# T or F = T
# F or T = T
# F or F = F

potential_candidate_gpa = 2.8
potential_candidate_act = 15

# Only pass through students who have at least a 2.5 GPA OR at least a 25 ACT score
if potential_candidate_gpa >= 2.5 or potential_candidate_act >= 25:
    print('Student meets the minimum requirements. Moving them along...')
else:
    print("Reject student....")

Student meets the minimum requirements. Moving them along...

In [147]:
# Truth Tree for AND:
# T and T = T
# T and F = F
# F and T = F
# F and F = F

potential_candidate_gpa = 3.5
potential_candidate_act = 35

# Only pass through students who have at least a 2.5 GPA OR at least a 25 ACT score
if potential_candidate_gpa >= 2.5 and potential_candidate_act >= 25:
    print('Student meets the minimum requirements. Moving them along...')
else:
    print("Reject student....")

Student meets the minimum requirements. Moving them along...

In [159]:
number = 5

if number == 1 or number == 5:
    print("The number is 1 or 5")
else:
    print(f"Not 1 or 5 it is actually {number}")

The number is 1 or 5

### Else Statements

In [166]:
# An else statement runs when the if statement above it evaluates to False
age = 55

if age >= 35:
    print("You are eligible to run for president")


if age >= 18:
    print("You are eligible to vote")
else:
    print("You are still too young to vote")

You are eligible to run for president
You are eligible to vote

### Elif Statements

In [173]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at the movie theater for an R-Rated movie
# If the movie goer is above 18, just say thanks and enjoy the show
# if the movie goer is above 14, check if they have a parent with them, can see if so
# no movie goers under 14 or under 18 without parent

# Rules for entry
required_age = 18
with_parent_age = 14

# Customer Info
movie_goer_age = 10
has_parent = True

if movie_goer_age >= required_age:
    print("Thanks and enjoy the show!")
elif movie_goer_age >= with_parent_age and has_parent:
    print("Cool, enjoy the movie with the folks")
elif movie_goer_age >= with_parent_age and not has_parent:
    print("You are old enough to see this with a parent, but I don't see one here...")
else:
    print("You cannot see this film until you are older.")

You cannot see this film until you are older.

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [192]:

ticket = 10
person_age = 72 # Output: Your ticket is $7.50
person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00

if person_age <= 9:
    print(f"Your ticket is ${ticket * 0.50:.2f}")
elif person_age >= 65:
    print (f"Your ticket is ${ticket * 0.75:.2f}")
else: 
    print (f"Your ticket is ${ticket}")

Your ticket is $5.00

### Lists

##### Declaring Lists

In [193]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type

list_1 = [] # Empty list declaration
print(list_1)
print(type(list_1))

[]
<class 'list'>

In [194]:
names = ['Mike', 'Colleen', 'Amanda', 'Jack', 'Will', 'Hannah']
print(names)
print(type(names))

['Mike', 'Colleen', 'Amanda', 'Jack', 'Will', 'Hannah']
<class 'list'>

##### Indexing a List

In [209]:
# [start: stop: step]  - start is INclusive, stop is EXclusive
# 0-based indexing (indices of a list will always be 0 => list length- 1)
# Makes a copy, original list is unaffected

# single element - list_var[index]
print(names[3])

# Negative numbers start from the back of the list
print(names[-6])

# Slice the list from the 1 index to the end of the list (leave the stop empty)
print(names[1:])

# Slice the list from the 1 index up to but not including the 5 index
print(names[1:5])

# Slice from the beginning of the string up to but not including a certain index
print(names[:4])

# Slice the whole list - an easy way to make a copy
print(names[:])

# Slice every other element in the list
print(names[::2])

# Negative step will walk backwards through the list - an easy way to reverse the list
print(names[::-1])

# Combo Time!
print(names[1:5:2])

Jack
Mike
['Colleen', 'Amanda', 'Jack', 'Will', 'Hannah']
['Colleen', 'Amanda', 'Jack', 'Will']
['Mike', 'Colleen', 'Amanda', 'Jack']
['Mike', 'Colleen', 'Amanda', 'Jack', 'Will', 'Hannah']
['Mike', 'Amanda', 'Will']
['Hannah', 'Will', 'Jack', 'Amanda', 'Colleen', 'Mike']
['Colleen', 'Jack']

In [211]:
# lists are mutable - means you can change the values using item assignment
# Item assignment - list_var[index] = value

print(names)

names[3] = 'Jonathan'

print(names)

['Mike', 'Colleen', 'Amanda', 'Jack', 'Will', 'Hannah']
['Mike', 'Colleen', 'Amanda', 'Jonathan', 'Will', 'Hannah']

In [213]:
# Strings are IMMUTABLE

my_string = 'Hello World'
print(my_string)

print(my_string[0])

my_string[0] = 'J'
print(my_string)

Hello World
H

TypeError: 'str' object does not support item assignment

##### .append()

In [221]:
# list_var.append(value) -> Add the value to the end of the list
print(names)

names.append('Julio')

print(names)

['Mike', 'Colleen', 'Samantha', 'Amanda', 'Jonathan', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio']
['Mike', 'Colleen', 'Samantha', 'Amanda', 'Jonathan', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio', 'Julio']

##### .insert()

In [225]:
# list.insert(index,value) -> Add the value at index and shift everything after to the right 1 index

print(names)

names.insert(2, 'Samantha')

print(names)

['Mike', 'Colleen', 'Samantha', 'Samantha', 'Samantha', 'Amanda', 'Jonathan', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio']
['Mike', 'Colleen', 'Samantha', 'Samantha', 'Samantha', 'Samantha', 'Amanda', 'Jonathan', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio']

##### .pop()

In [222]:
# list_var.pop() -> if no argument, pop removes and returns the last element of the list

print(names)


last_element = names.pop()

print(names)

['Mike', 'Colleen', 'Samantha', 'Amanda', 'Jonathan', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio', 'Julio']
['Mike', 'Colleen', 'Samantha', 'Amanda', 'Jonathan', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio']

In [226]:
# list_var.pop(index) -> will remove the element at index and return that item

second_element = names.pop(1)

print(names)

print(second_element)

['Mike', 'Samantha', 'Samantha', 'Samantha', 'Samantha', 'Amanda', 'Jonathan', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio']
Colleen


##### .remove()

In [227]:
# value to be removed , not index


names.remove('Jonathan')
print(names)

['Mike', 'Samantha', 'Samantha', 'Samantha', 'Samantha', 'Amanda', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio']

In [230]:
nums_list = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5]

nums_list.remove(2)

print(nums_list)

[1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5]

##### del()

In [231]:
# del list_var[index]
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

print(names)

del names[1]

print(names)

['Mike', 'Samantha', 'Samantha', 'Samantha', 'Samantha', 'Amanda', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio']
['Mike', 'Samantha', 'Samantha', 'Samantha', 'Amanda', 'Will', 'Hannah', 'Julio', 'Julio', 'Julio', 'Julio']

##### Concatenating Two Lists

In [232]:
# Plus operator (+) between 2 lists will append two lists together, not add up the elements in each list

list_a = [1, 2, 3, 4]
list_b = [5, 6, 7, 8]

list_c = list_a + list_b

print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

#### Lists can hold any datatype

In [ ]:
# Lists can hold any datatype
# It is *recommended* to only store one datatype in a list
list_of_strings = ['a', 'b', 'c', 'd']
list_of_ints = [1, 2, 3, 4]
list_of_floats = [1.23, 4.56, 7.89]
list_of_bools = [True, True, False, False]
list_of_all = ['a', 1, 3.21, True]

##### Lists Within Lists

In [233]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(list_of_lists)

for item in list_of_lists:
    print(type(item))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
<class 'list'>
<class 'list'>

### For Loops

In [236]:
# for <keyword> in <iterable>:
#     <statement>

print('Begin code...')

nums = [5, 10, 15, 20, 25]

for element in nums:
    print(element)
    
print('End loop.')

Begin code...
5
10
15
20
25
End loop.

In [239]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for c in colors:
    print(f"My favorite color is {c}!")

My favorite color is red!
My favorite color is orange!
My favorite color is yellow!
My favorite color is green!
My favorite color is blue!
My favorite color is indigo!
My favorite color is violet!

In [243]:
for color in colors:
    print(color)
print("Hello")

red
orange
yellow
green
blue
indigo
violet
Hello

In [245]:
# Strings are iterable
my_string = "Hello World"

for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

##### Continue Statement

In [253]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# will continue to next iteration *skip all code after it in the code block and go to next iteration

for element in list_to_use:
    if element == 50:
        continue
    print(element)
    print('Hello')
    print(f'The value of the element is {element}'

10
Hello
The value of the element is 10
20
Hello
The value of the element is 20
30
Hello
The value of the element is 30
40
Hello
The value of the element is 40
60
Hello
The value of the element is 60
70
Hello
The value of the element is 70
80
Hello
The value of the element is 80
90
Hello
The value of the element is 90
100
Hello
The value of the element is 100

##### Break Statement

In [ ]:
# will break out of current loop

In [255]:
for element in list_to_use:
    if element == 50:
        break
    print(element)
    print('Hello')
    print(f'The value of the element is {element}')
    
print('Loop has been terminated')

10
Hello
The value of the element is 10
20
Hello
The value of the element is 20
30
Hello
The value of the element is 30
40
Hello
The value of the element is 40
Loop has been terminated

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [257]:

for num in list_to_use:
    # do something here - implement in future
    pass
    
print(list_to_use)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
def solution():
    pass

##### Nested/Double For Loops

In [258]:
a_list = [1, 2, 3]


for num1 in a_list:
    for num2 in a_list:
        print(num1, num2)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

### While Loops

In [261]:
from random import randint

In [305]:
# while <conditional>:
#     <statement to run while condition is true>


random_number = randint(1, 10)
print(random_number)

6

In [309]:
random_number = randint(1, 10)
print(f'The starting random number: {random_number}')
while random_number != 5:
    print(random_number)
    random_number = randint(1, 10)
    
print(f'The final result: {random_number}')

The starting random number: 6
6
2
The final result: 5

##### Looping 'While True'

In [310]:
while True:
    ask = input("What would you like to do? ")
    if ask == 'quit':
        break
    else:
        print(f'You want to {ask}.')

What would you like to do? dance
You want to dance.
What would you like to do? sing
You want to sing.
What would you like to do? code
You want to code.
What would you like to do? sleep
You want to sleep.
What would you like to do? eat
You want to eat.
What would you like to do? play
You want to play.
What would you like to do? quit

### Built-In Functions

##### input()

In [311]:
# input(question) => ALWAYS RETURNS A STRING

response = input('What is your name? ')
print(response)

What is your name? Andy
Andy

In [314]:
age = input("How old are you? ")
print(type(age))
print(f"You are {age} years old.")

How old are you? 69
<class 'str'>
You are 69 years old.

##### len()

In [315]:
# check Length of variable

some_list = [1, 2, 34, 234, 234, 1324 , 234, 357, 2, 1234, 1234, 2345, 57, 1324, 1234]

length_of_list = len(some_list)
print(length_of_list)

15

In [316]:
some_word = 'Coding Temple'
print(len(some_word))

13

##### help()

In [317]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [319]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

##### range()

In [324]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [322]:
#Start, Stop, Step
my_range = range(10)
print(my_range)

range(0, 10)

In [325]:
for value in my_range:
    print(value)

0
1
2
3
4
5
6
7
8
9

In [326]:
for num in range (10, 20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [329]:
for num in range(10, 50, 5):
    print(num)

10
15
20
25
30
35
40
45

##### Looping Through Lists

In [335]:
# two ways to loop through a list, using range for index and in for values
names = ['Mike', 'Amanda', 'Will', 'Hannah']
print(names)
print(len(names))

print('-'*40)
# Loop with a for loop (By Index)
for i in range(len(names)):
    print(i, names[i])

    
# Loop with a for loop (Using the 'in' keyword)
for x in names:
    print(x)

['Mike', 'Amanda', 'Will', 'Hannah']
4
----------------------------------------
0 Mike
1 Amanda
2 Will
3 Hannah
Mike
Amanda
Will
Hannah

##### isinstance()

In [336]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)
# return Boolean on if the variable is an instance of type

print(isinstance(10, int))
print(isinstance(10, str))

True
False

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [340]:
for num in range(0, 1001):
    val = num**3
    if val <= 1000:
        print(val)
    else:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [341]:
# Prime Number - A number that is divisible by only 1 and itself

# HINT::
# An else after an if runs if the if didnt
# An else after a for runs if the for didnt break (if we get through the entire for loop without breaking)

for num in range(2, 100):
    if num == 2 or num == 3 or num == 5 or num == 7:
        print(num)
    elif num % 2 == 0 or num % 3 == 0 or num % 5 == 0 or num % 7 == 0:
        pass
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [344]:
while True:
    age = input("What is your age?/nType '0' to quit ")
    age = int(age)
    if age == 0:
        break
    elif age < 18:
        print("kids")
    elif age >= 18 and age <= 65:
        print("adults")
    else:
        print("seniors")

What is your age?/nType '0' to quit 7
kids
What is your age?/nType '0' to quit 67
seniors
What is your age?/nType '0' to quit 27
adults
What is your age?/nType '0' to quit 0